.form {
  display: grid;
  margin-top: 5rem;
  width: 90%;
}

.input {
  font-size: 1.6rem;
  padding: 0.2rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  width: 100%;
}

.button {
  background-color: #4561a8;
  color: white;
  display: flex;
  justify-content: center;
  padding: 0.6rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  font-size: 1.9rem;
  cursor: pointer;
  transition: background-color 250ms;
  width: 100%;
  transition: 1s;
}

.button:hover {
  background-color: #607dc7;
  scale: 1.1;
}

.cardList {
  height: 100%;
  width: 100%;
}

.card {
  height: 100%;
  width: 100%;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.resultItem {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.resultItem h3 {
  margin: 0 0 10px 0;
}

.resultItem p {
  margin: 5px 0;
}

.resultItem a {
  display: inline-block;
  margin-top: 10px;
  color: blue;
  text-decoration: none;
}

@media (min-width: 786px) {
  .form {
    grid-template-columns: auto 30%;
    grid-gap: 1rem;
    align-items: center;
    width: 60%;
  }

  .input {
    margin-bottom: 0;
  }
}
